.employee-type ul{
    list-style: none;
    padding-left: 4px;
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 16px;

}
.emp-li{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.emp-li svg{
    margin-top: 9px;
}