.exp-ul{
   
        list-style: none;
        display: flex ;
        flex-direction: column;
        gap: 5px;
        font-size: 15px;
        padding-left: 4px;
}
.filter-btn button{
        font-size: 14px;
        padding: 5px;
        width: 63px;
}
.filter-btn button:hover{
        cursor: pointer;
        opacity: 0.5;
        font-weight: 400;
}