.graph-wrapper {
    border-radius: 0.75rem;
    background-color: #1a202e;
    height: auto;
    margin: 0 auto;
    max-width: 100%;
    padding: 1rem;
}

@media (min-width: 1024px) {
    .graph-wrapper {
        flex: 1;
        max-width: 50%;
    }
}

.apexcharts-menu {
    background-color: #303030 !important;
    border-radius: 0.375rem;
}

.apexcharts-menu .apexcharts-menu-item:hover {
    background-color: #444444 !important;
}

.apexcharts-menu .apexcharts-menu-item {
    text-align: left;
}