.project-list{
    overflow-x: hidden;
    max-width: 1798px;
}
.project-list > div:first-of-type{
    height: 710px;
}

.page-heading{
    margin: 30px 0 10px;
    font-weight: 500;
    color: var(--heading-color);
}

.input-container{
    background-color: var(--table-header);
    border-radius: 8px 8px 0 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 23px;
    padding-bottom: 23px;
    padding-left: 10px;
    position: relative;
    row-gap: 10px;
    justify-content: space-between;
}

.search-input{
    text-align: left;
    padding-left: 34px;
    height: 45px;
    width: 100%;
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    background-color: var(--input-color); 
}

.input-container input::placeholder{
    color: var(--heading-color);;
    
}


.ag-row{
    background-color: var(--table-body);
}

.ag-root-wrapper{
    border: none;
    background-color: transparent;
}

.ag-theme-alpine .ag-row{
    color: var(--table-text-color);
}

.ag-header-row.ag-header-row-column{
    color: var(--table-text-color);
    /* width: 100% !important;
    overflow-x: scroll;
    scrollbar-width: none; */
}
.ag-paging-panel{
    flex-wrap: wrap;
}

.search-container{
    display: flex;
    position: relative;
    width: 100%;
    margin-right: 10px;
    max-width: 320px;   

}

.toggle-title {
    font-weight: 600;
    text-align: center;
    padding-top: 4px;
    border-bottom: 1px solid var(--table-text-color);
    display: block;
}

.search-icon{
    position: absolute;
    top: 10px;
    filter: var(--search-icon-color);
    left: 6px;
}

#region-dropdown{
    background-color: var(--input-color);
    border: none;
    color: var(--heading-color);
    padding-left: 2px;
    box-sizing: border-box;
    border-radius: 3px;
    max-width: 160px;
}
option{
    width: 100%;
    max-width: 100%;
}

 .ag-layout-normal {
    border-radius: 0;
    /* width: 100% !important; */
    background-color:var(--table-body);
}

#my-grid{
    background-color: var(--table-body);
    /* overflow: auto; */
    height: 617px;
    overflow-x: scroll;
    /* width: 100vw !important;
    overflow-x: scroll; */
}

#my-grid::-webkit-scrollbar{
    display: none;
}

.ag-header{
    background-color: transparent;
}
.ag-header-container{
    /* background-color: var(--table-body); */
   
     width: 100% !important;
    /*scrollbar-width: none !important;
    overflow-x: auto; */
}
/* .ag-cell{
border-bottom: 1px solid #babfc7;
}
.ag-row{
    border-bottom:none ;
} */
.ag-header-row .ag-header-row-column{
    /* width: 100% !important; */

}
.ag-header-viewport{
    background-color: var(--table-columndef-color);
}
.ag-center-cols-container{
    width: 1962px !important;
   
}
div[aria-colindex="2"]{
    left: 198px !important;
}
div[aria-colindex="3"]{
     left: 396px !important; 
    width: 240px !important;
}

div[aria-colindex="4"]{
    /* width: 260px !important; */
    left: 634px !important;
}
div[aria-colindex="5"]{
    left: 832px !important;
    width: 268px !important;
}
div[aria-colindex="6"]{
    left: 1098px !important;
    width: 270px !important;
}
div[aria-colindex="7"]{
    left: 1366px !important;
}
div[aria-colindex="8"]{
    left:1564px !important;
}
div[aria-colindex="9"]{
left:1762px !important;
}

.filter-box{
    display: flex;
    height: 100%;
    margin:0 10px 0 0;
}

.toggle-column{
    border: 1px solid var(--spectrum-gray-200);
    border-radius: 3px;
    top: 68px;
    z-index: 100;
    background-color: var(--input-color);
  visibility: visible;
   font-size: 14px;
   width: 200px;
   height: 264px;
   overflow-y: auto;
   scrollbar-width: none;
    position: absolute;
}

.toggle-column::-webkit-scrollbar{
    display:none;
}

.project-filter-container-item {
    display: flex; 
    padding: 0 5px 0 12px;
    margin-top: 5px; 
    justify-content: space-between;
}

#column-filters label input{
    height: 20px;
    width: auto;
}
.ag-body-horizontal-scroll-viewport{
   scrollbar-width: none;
}
.ag-body-vertical-scroll-viewport{
   scrollbar-width: none;
}
.ag-paging-panel{
    color: var(--pagination-color);
    border-top: none;
}

.filter-icon{
    height: 30px;
    width: 30px;
    filter: var(--svg-icon-color);

}

.toggle-column.hide{
    visibility: hidden;
}

.column-filter-box{
    position: relative;
    padding: 5px 10px 0 0;
}

.column-filter-box:hover{
    cursor: pointer;
}
.status-indicator{
    position: relative;
    top: 15px;
    left: 36px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%{
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
    50%{
        transform: scale(1.4);
        opacity: 0.6;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
    }
    100%{
        transform: scale(1);
        opacity: 1;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
}
@media(width <= 570px){
    .project-list > div:first-of-type {
        height: 770px;
    }
    .ag-paging-panel{
        height: 150px;

}
