
:root {
  /* Using adobe spectrum */
  --spectrum-black-100: #000;
  --spectrum-white-100: #fff;
  --spectrum-blue-50:#3b63fb;
  --spectrum-blue-75:#1d3ecf;
  --spectrum-blue-100: #1c212d;
  --spectrum-blue-200: #1a202e;
  --spectrum-blue-300: #232b3e;
  --spectrum-blue-400: #020910;
  --spectrum-blue-500:#12161f;
  --spectrum-gray-75:#f0f0f0;
  --spectrum-gray-100: #a5abb1;
  --spectrum-gray-200: #96a2b4;
  --spectrum-gray-500:#b7c0ce33;
  --spectrum-lavender-100: #ecf0f4;
  --spectrum-charcoal-100: #555;
  --spectrum-lavender-200: #dae1f3;
  --spectrum-mist-100: #f0f3fb;
  --spectrum-violet-50:#f2fafe;
  --spectrum-violet-100: #323134;
  --spectrum-violet-200:#141d33;

  




  /*  colors variables */
   
  --primary-color:var(--spectrum-white-100);
  --background-color:var(--spectrum-lavender-100);
  --text-color:var(--spectrum-black-100);
  --dark-color: var(--spectrum-black-100);
  --light-color: var(--spectrum-white-100);
  --icon-color: var(--spectrum-black-100);
  --heading-color:var(--spectrum-charcoal-100);
  --table-header:var(--spectrum-lavender-200);
  --table-body:var(--spectrum-white-100);
  --table-text-color:var(--spectrum-black-100);
  --table-columndef-color:var(--spectrum-violet-50);
  --table-footer:var(--spectrum-white-100);
  --side-menu-color:var(--spectrum-white-100);
  --list-active-color:var(--spectrum-mist-100);
  --pagination-color:var(--spectrum-black-100);
  --border-color:var(--spectrum-white-100);
  --input-color:var(--spectrum-white-100);
  --toolpoint-color:var(--spectrum-black-100);
  --toolpoint-txt-color:var(--spectrum-white-100);
  --row-hover-color : var(--spectrum-gray-75);
  --svg-icon-color:brightness(0) saturate(100%) invert(6%) sepia(0%) hue-rotate(0deg);


 

  /* fonts */
  --body-font-family: "Adobe Clean";
  --heading-font-family: roboto-condensed, roboto-condensed-fallback, sans-serif;

  /* body sizes */
  --body-font-size-m: 22px;
  --body-font-size-s: 19px;
  --body-font-size-xs: 17px;

  /* heading sizes */
  --heading-font-size-xxl: 55px;
  --heading-font-size-xl: 44px;
  --heading-font-size-l: 34px;
  --heading-font-size-m: 27px;
  --heading-font-size-s: 24px;
  --heading-font-size-xs: 22px;
  --text-font-size:14px;
  --search-icon-color:brightness(0) saturate(100%) invert(62%) sepia(7%) saturate(117%) hue-rotate(169deg);
  

  /* nav height */
  --nav-height: 64px;

  /* box-shadows */
  --menu-shadow:0 8px 10px var(--spectrum-gray-500);

  /* --dark-box-shadow:0 8px 10px #6e6f7233; */

}

body {
  display: none;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--body-font-size-m);
  line-height: 1.6;
}

body.appear {
  display: block;
}

:root body:is(.dark-theme) {
  --dark-color: var(--spectrum-black-100);
  --light-color: var(--spectrum-white-100);
  --primary-color:linear-gradient(to right, var(--spectrum-blue-100), var(--spectrum-blue-200));
  --background-color:var(--spectrum-blue-300);
  --icon-color: var(--spectrum-white-100);
  --heading-color:var(--spectrum-gray-100);
  --border-color:var(--spectrum-violet-100);
  --svg-icon-color:brightness(0) saturate(100%) invert(95%) sepia(0%) hue-rotate(0deg); /* Default: White Icons (Dark Mode) */

  /* --dark-color: #505050; */
  --table-header:var(--spectrum-blue-400);
  --table-columndef-color:var(--spectrum-violet-200);
  --table-footer:var(--spectrum-blue-200);
  --table-body:var(--spectrum-blue-200);
  --table-text-color:var(--spectrum-gray-200);
  --side-menu-color:var(--spectrum-blue-200);
  --pagination-color:var(--spectrum-white-100);
  --input-color:var(--spectrum-blue-500);
  --row-hover-color : var(--spectrum-blue-500);

  /* --table-header-background: var(--dark-color); */
  --text-color: var(--spectrum-white-100);
  --link-color: var(--spectrum-blue-50);
  --link-hover-color: var(--spectrum-blue-75);
  --sidebar-color:var(--spectrum-blue-200);
  --list-active-color:var(--spectrum-white-100);
  --toolpoint-color:var(--spectrum-white-100);
  --toolpoint-txt-color:var(--spectrum-black-100);



}
body.dark-theme .ag-picker-field-wrapper{
  background-color: var(--dark-color);
}

header {
  height: var(--nav-height);
}

header .header,
footer .footer {
  visibility: hidden;
}

header .header[data-block-status="loaded"],
footer .footer[data-block-status="loaded"] {
  visibility: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  scroll-margin: 40px;
}

h1 { font-size: var(--heading-font-size-xxl); }
h2 { font-size: var(--heading-font-size-xl); }
h3 { font-size: var(--heading-font-size-l); }
h4 { font-size: var(--heading-font-size-m); }
h5 { font-size: var(--heading-font-size-s); }
h6 { font-size: var(--heading-font-size-xs); }

p,
dl,
ol,
ul,
pre,
blockquote {
  margin-top: 0.8em;
  margin-bottom: 0.25em;
}

code,
pre {
  font-size: var(--body-font-size-s);
}

pre {
  padding: 16px;
  border-radius: 8px;
  background-color: var(--light-color);
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
  word-break: break-word;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: underline;
}

/* buttons */
a.button:any-link,
button {
  box-sizing: border-box;
  display: inline-block;
  max-width: 100%;
  margin: 12px 0;
  border: 2px solid transparent;
  border-radius: 2.4em;
  padding: 0.5em 1.2em;
  font-family: var(--body-font-family);
  font-style: normal;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  background-color: var(--link-color);
  color: var(--background-color);
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a.button:hover,
a.button:focus,
button:hover,
button:focus {
  /* background-color: var(--link-hover-color); */
  cursor: pointer;
}

button:disabled,
button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary,
button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

main{
  padding: 0 9px;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
  filter: var(--svg-icon-color);
}



main > .section:first-of-type {
  margin-top: 0;
}

.ag-theme-alpine .ag-ltr input[class^="ag-"][type="text"]{
  padding-left: 22px;

}


